<div class="container mb-5">
    <div class="header mt-5">
        <h3 class="mont"> About this project</h3>
    </div>
    <section>
        <p>
            This web page is meant to showcase a welcoming front page where people can search and look at the most popular video games. Content creators will be able to create new game reviews.
        </p>

        <p>
            Please head over to the <a routerLink="/login"> Log In</a> page before exploring the different features only avaible to users of this website.
        </p>
    </section>
</div>