footer {
  position: absolute;
  bottom: 0;
  width: 100%;
 }

.column {
    text-align: center;
}
  
footer a {
    color: #aaa;
    
  }
  
footer a:hover {
    color: #fff;
  }
  
footer h3 {
    margin: 30px 0 20px;
  }
  
footer .column li{
    display: inline-block;
    border: 1px;
    border-left:1px solid black;
    padding: 0 26px;
    
  }
  
.footer-copyright {
    padding: 12px;
    font-size: 15px;
    text-align: center;
    color: grey;
  }
  
footer .copyright span {
    color: white;
  }