<footer>
    <div class="bg-light">
      <div class="">
        
        <div class=" footer">
          <h3>PGG Site Map</h3>
          <ul class="list-unstyled column">
            <li>Home</li>
            <li>Contact</li>
            <li>About</li>
          </ul>
          <ul class="list-unstyled socila-list">
            <li><img src="https://img.icons8.com/fluent/48/000000/facebook-new.png"></li>
            <li><img src="https://img.icons8.com/fluent/48/000000/instagram-new.png"></li>
            <li><img src="https://img.icons8.com/fluent/48/000000/twitter.png"/></li>
          </ul>
        </div>
        
      </div>
    </div>
    <div class="copyright">
      Copyright &copy; 2020 <span>Parent Gameing Guide</span>
    </div>
  </footer>