<footer class="page-footer font-small">
  <!-- Footer Links -->
  <div class="bg-secondary">
    <div class="container text-center text-md-left">

      <!-- Grid row -->
      <div class="row text-white mont">

        <!-- Grid column -->
        <div class="col-md-4 mx-auto">

          <!-- Content -->
          <h5 class="font-weight-bold mt-3 mb-4">Parent Game Guide</h5>
          <p class="text-small" >PGG is dedicated to improving the lives of all kids and families by providing the trustworthy information, education, and independent voice they need to thrive in the 21st century.</p>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-2 mx-auto">

          <!-- Links -->
          <h5 class="font-weight-bold mt-3 mb-4">Learn More</h5>

          <ul class="list-unstyled">
            <li>
              <a routerLink="/">Home</a>
            </li>
            <li>
              <a routerLink="/about">About</a>
            </li>
            <li>
              <a routerLink="/contact">Contact</a>
            </li>
            <li>
              <a routerLink="/login">Log in</a>
            </li>
          </ul>

        </div>
        

      </div>
      <!-- Grid row -->

    </div>
  </div>  

  <div class="bg-dark footer-copyright text-center">© 2020 Copyright:
    <a routerLink="/"> ParentGameGuide.com</a>
  </div>
</footer>
