<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand mx-auto mont" routerLink="#">Parent Gaming Guide</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainNav">
      <div class="navbar-nav ml-auto">
        <a class="nav-link active" routerLink="/">Home</a>
        <a class="nav-link" routerLink="/about">About</a>
        <a class="nav-link" routerLink="/contact">Contact</a>
        <a class="nav-link" routerLink="/login">Login</a>
      </div>
    </div>
  </nav>