<div class="container">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="card">
                <div class="row">
                    <div class="col">
                        <img src="https://images-na.ssl-images-amazon.com/images/I/91KQmjDxj-L._SL1500_.jpg">
                    </div>
                    <div class="col">
                        <div class="card-block">
                            <h4 class="card-title mont">Lorem ipsum dolor sit amet</h4>
                            <p class="card-text">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                            <a class="add-to-cart" routerLink="/">On Amazon</a>
                            <a class="add-to-cart" routerLink="/viewgames">Review</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card">
                <div class="row ">
                    <div class="col">
                        <img src="https://images-na.ssl-images-amazon.com/images/I/711lrrvzt%2BL._SL1496_.jpg">
                    </div>
                    <div class="col">
                        <div class="card-block">
                            <h4 class="card-title mont">Lorem ipsum dolor sit amet</h4>
                            <p class="card-text">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                            <a class="add-to-cart" routerLink="/">On Amazon</a>
                            <a class="add-to-cart" routerLink="/viewgames">Review</a>
                        </div>
                    </div>
                </div>
            </div>      </div>
        <div class="carousel-item">
            <div class="card">
                <div class="row ">
                    <div class="col img">
                        <img src="https://cdn-products.eneba.com/resized-products/rbEZmpjnb-uTW48yJ3e3OB9sq0AbKWj3rIjVLlCI0PA_390x400_1x-0.jpeg">
                    </div>
                    <div class="col">
                        <div class="card-block">
                            <h4 class="card-title mont">Lorem ipsum dolor sit amet</h4>
                            <p class="card-text">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                            <a class="add-to-cart" routerLink="/">On Amazon</a>
                            <a class="add-to-cart" routerLink="/viewgames">Review</a>
                        </div>
                    </div>
                </div>      </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
        </a>
    </div>
</div>