<div class="container">
    <br/>
	<div class="row justify-content-center">
                        <div class="col-12">
                            <form class="card mont">
                                <div class="row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <i class="fas fa-search text-body"></i>
                                    </div>
                                    <!--end of col-->
                                    <div class="col">
                                        <input class="form-control form-control- form-control-borderless" type="search" placeholder="Find Games..">
                                    </div>
                                    <!--end of col-->
                                    <div class="col col-sm-3">
                                        <button id="gameTitle" [routerLink]="['/viewgames']" class="btn btn-md btn-dark btn-block" type="submit">Search</button>
                                    </div>
                                    <!--end of col-->
                                </div>
                            </form>
                        </div>
                        <!--end of col-->
                    </div>
</div>