.topimg{
    max-width: 100%;
    height: auto;
}

.content{
    border: solid 1px lightgrey;
    border-radius: 10px;
}

.btn{
    margin: 10px;
}

.card{
    margin: 50px;
}


.rating{
    max-width: 100%;
    height: auto;
    display: block;

    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.centered{
    text-align: center;
}
