<div class="login-wrap">
  <div class="login-html">

    <div class="login-form">
      <div class="sign-in-htm">
        <div class="group">
          <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Log In</label>
        </div>
        <div class="group">
          <label for="user" class="label">Email</label>
          <input type="text" class="input formControl" placeholder="Username" #userName required>
        </div>

        <div class="group">
          <label for="pass" class="label">Password</label>
          <input type="password" class="input formControl" placeholder="Password" #userPassword required>
        </div>

        <!-- Calling SignIn Api from userService -->
        <div class="formGroup">
          <input type="button" class="btn btn-primary" value="Log in" (click)="userService.signIn(userName.value, userPassword.value)">
        </div>

        <div class="directions">
          Use the the following creditials:
          <br>
          usertest@gmail.com
          <br>
          admintest@gmail.com
          <br>
          password: qwerty12
        </div>

      </div>
    
    </div>
  </div>
</div>