<div class="container">
    <h3 class="h3 mont">Top Games {{myDate | date:'MMMM' }} </h3>
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="product-grid">
                <div class="product-image">
                    <a href="#">
                        <img class="pic-1" src="https://hips.hearstapps.com/vader-prod.s3.amazonaws.com/1581605670-image.jpg?crop=0.800xw:1xh;center,top&resize=768:*">
                        <img class="pic-2" src="https://66.media.tumblr.com/d32fda6329c48c4cb630fa74cfc9d69f/788b6fec41103f77-5a/s640x960/64e96eb6f0fdac4bba9008e0f3dc91f7dc2df4c7.gif">
                    </a>
                </div>
                <ul class="rating">
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star disable"></li>
                </ul>
                <div class="product-content">
                    <h3 class="title"><a routerLink="/">Call of Duty: Modern Warfare</a></h3>
                    <div class="price">$16.00
                        <span>$20.00</span>
                    </div>
                    <a class="add-to-cart" routerLink="/viewgames">Review</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product-grid">
                <div class="product-image">
                    <a href="#">
                        <img class="pic-1" src="https://hips.hearstapps.com/vader-prod.s3.amazonaws.com/1581614836-51-oioaJsZL.jpg?crop=1xw:0.995xh;center,top&resize=768:*">
                        <img class="pic-2" src="https://media1.giphy.com/media/KznRHueIFJAFiIpzBu/giphy.gif">
                    </a>
                </div>
                <ul class="rating">
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                </ul>
                <div class="product-content">
                    <h3 class="title"><a routerLink="/">NB2K20</a></h3>
                    <div class="price">$7.00
                        <span>$30.00</span>
                    </div>
                    <a class="add-to-cart" routerLink="/viewgames">Review</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product-grid">
                <div class="product-image">
                    <a href="#">
                        <img class="pic-1" src="https://hips.hearstapps.com/vader-prod.s3.amazonaws.com/1581605934-61CRUPJ9VLL.jpg?crop=1xw:0.995xh;center,top&resize=768:*">
                        <img class="pic-2" src="https://66.media.tumblr.com/b6327c60cdeb9f5b4de43a9144e433bd/tumblr_pqfwwvIUPS1ut1d6co3_540.gif">
                    </a>
                </div>
                <ul class="rating">
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                </ul>
                <div class="product-content">
                    <h3 class="title"><a routerLink="/">Borderlands 3</a></h3>
                    <div class="price">$8.00
                        <span>$10.00</span>
                    </div>
                    <a class="add-to-cart" routerLink="/viewgames">Review</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product-grid">
                <div class="product-image">
                    <a href="#">
                        <img class="pic-1" src="https://hips.hearstapps.com/vader-prod.s3.amazonaws.com/1581606374-51hbiHPzTaL.jpg?crop=1.00xw:0.996xh;0,0.00400xh&resize=768:*">
                        <img class="pic-2" src="https://media1.giphy.com/media/jq0NR6AaOabifVixWB/giphy.gif">
                    </a>
                </div>
                <ul class="rating">
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                </ul>
                <div class="product-content">
                    <h3 class="title"><a routerLink="/">Star Wars Jedi: Fallen Order</a></h3>
                    <div class="price">$5.00
                        <span>$10.00</span>
                    </div>
                    <a class="add-to-cart" routerLink="/viewgames">Review</a>
                </div>
            </div>
        </div>
    </div>
</div>
