.mont{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.bg-dark{
    background-color: black !important;
}

.bg-secondary{
    background-color: #212121 !important;
}

.text-small{
    font-size: 12px;
}